<div class="container">
  <app-add-task></app-add-task>
<ng-container *ngIf="taskList.length > 0; else noTask">
    <ul>
      <li *ngFor="let task of taskList">
        {{task.name}}
        <button class="btn btn-danger" (click)="remove(task)">Remove</button>
        <button class="btn btn-success"(click)="done(task)">Done</button>
      </li>
    </ul>
  </ng-container>
  <ng-template #noTask>
      <p >Nie masz jeszcze żadnych zadań</p>
  </ng-template>
  <button class="btn btn-success" (click)="saveTasks()">Save tasks</button>
</div>

